<!--<h2>welcome to <%= @name %> </h2>
-->

<h2>Listing Clients</h2>
<p>Total Clients found : <%= @clients.size %></p>
<ol>
 <% @clients.each do |client| %>
 	<li><%= client.name %></li>
 <% end %>
</ol>

