<h2>hellow world</h2>

<%= link_to "Say Hellow", say_hellow_path %>

<p><code>say_hellow_path</code> : this method returns "/say/hellow"</p>

<a href="http://localhost:3000/say/hellow" target="_blank">visit google</a>